.jumbotron {
  padding-top: 6rem;
  background-color: #131314;
}
#Hobbies {
  background-color: #111113;
}
.footer {
  padding-bottom: 2rem;
}
section {
  padding-top: 5rem;
}

form {
  padding-left: 0.5rem;
}
